{% assign ids = null %}
{% assign headercrumbs = null %}

{% assign ch2 = content | split: '</h2>' %}
{% for c2 in ch2 %}
    {% assign ch3 = c2 | split: '</h3>' %}

    {% for c3 in ch3 %}
        {% assign ch4 = c3 | split: '</h4>' %}

        {% for c4 in ch4 %}
            {% assign ch5 = c4 | split: '</h5>' %}

            {% for c5 in ch5 %}
                {% assign ch6 = c5 | split: '</h6>' %}

                {% for c6 in ch6 %}
                    {% if c6 contains '<h6 id=' %}
                        {% assign insideh = c6 | split: '<h6 id=' | first %}
                        {% assign hh = c6 | remove: insideh | remove: '<h6 id=' %}
                        {% assign id = hh | split: '>' | first | strip %}
                        {% assign id = id | remove: "'" | remove: '"' %}
                        {% assign ids = ids | append: id | append: '|||' %}
                        {% assign hh = null %} {% assign inside h = null %}
                    {% endif %}
                {% endfor %}

                {% if c5 contains '<h5 id=' %}
                    {% assign insideh = c5 | split: '<h5 id=' | first %}
                    {% assign hh = c5 | remove: insideh | remove: '<h5 id=' %}
                    {% assign id = hh | split: '>' | first | strip %}
                    {% assign id = id | remove: "'" | remove: '"' %}
                    {% assign ids = ids | append: id | append: '|||' %}
                    {% assign hh = null %} {% assign inside h = null %}
                {% endif %}
            {% endfor %}

            {% if c4 contains '<h4 id=' %}
                {% assign insideh = c4 | split: '<h4 id=' | first %}
                {% assign hh = c4 | remove: insideh | remove: '<h4 id=' %}
                {% assign id = hh | split: '>' | first | strip %}
                {% assign id = id | remove: "'" | remove: '"' %}
                {% assign ids = ids | append: id | append: '|||' %}
                {% assign hh = null %} {% assign inside h = null %}
            {% endif %}
        {% endfor %}

        {% if c3 contains '<h3 id=' %}
            {% assign insideh = c3 | split: '<h3 id=' | first %}
            {% assign hh = c3 | remove: insideh | remove: '<h3 id=' %}
            {% assign id = hh | split: '>' | first | strip %}
            {% assign id = id | remove: "'" | remove: '"' %}
            {% assign ids = ids | append: id | append: '|||' %}
            {% assign hh = null %} {% assign inside h = null %}
        {% endif %}
    {% endfor %}

    {% if c2 contains '<h2 id=' %}
        {% assign insideh = c2 | split: '<h2 id=' | first %}
        {% assign hh = c2 | remove: insideh | remove: '<h2 id=' %}
        {% assign id = hh | split: '>' | first | strip %}
        {% assign id = id | remove: "'" | remove: '"' %}
        {% assign ids = ids | append: id | append: '|||' %}
        {% assign hh = null %} {% assign inside h = null %}
    {% endif %}
{% endfor %}

{% assign id = null %}
{% assign ids = ids | split: '|||' %}

{% for c2 in ch2 %}
    {% assign ch3 = c2 | split: '</h3>' %}

    {% for c3 in ch3 %}
        {% assign ch4 = c3 | split: '</h4>' %}

        {% for c4 in ch4 %}
            {% assign ch5 = c4 | split: '</h5>' %}

            {% for c5 in ch5 %}
                {% assign ch6 = c5 | split: '</h6>' %}

                {% for c6 in ch6 %}
                    {% if c6 contains '<h6 id=' %}
                        {% assign insideh = c6 | split: '<h6 id=' | first %}
                        {% assign hh = c6 | remove: insideh %}
                        {% assign insideh = hh | split: '>' | first %}
                        {% assign header6 = hh | remove: insideh | remove: '>' %}
                        {% assign header6 = header6 | split: '<' | first | strip %}
                        {% capture h %}{% if header2 %} \2192\2002 {{ header2 }}{% endif %} \2192\2002 {{ header3 }} \2192\2002 {{ header4 }} \2192\2002 {{ header5 }} \2192\2002 {{ header6 }}{% endcapture %}
                        {% assign headercrumbs = headercrumbs | append: h | append: '|||' %}
                        {% assign  h = null %} {% assign insideh = null %} {% assign hh = null %}
                    {% endif %}
                {% endfor %}

                {% if c5 contains '<h5 id=' %}
                    {% assign insideh = c5 | split: '<h5 id=' | first %}
                    {% assign hh = c5 | remove: insideh %}
                    {% assign insideh = hh | split: '>' | first %}
                    {% assign header5 = hh | remove: insideh | remove: '>' %}
                    {% assign header5 = header5 | split: '<' | first | strip %}
                    {% capture h %}{% if header2 %} \2192\2002 {{ header2 }}{% endif %} \2192\2002 {{ header3 }} \2192\2002 {{ header4 }} \2192\2002 {{ header5 }}{% endcapture %}
                    {% assign headercrumbs = headercrumbs | append: h | append: '|||' %}
                    {% assign  h = null %} {% assign insideh = null %} {% assign hh = null %}
                {% endif %}
            {% endfor %}

            {% if c4 contains '<h4 id=' %}
                {% assign insideh = c4 | split: '<h4 id=' | first %}
                {% assign hh = c4 | remove: insideh %}
                {% assign insideh = hh | split: '>' | first %}
                {% assign header4 = hh | remove: insideh | remove: '>' %}
                {% assign header4 = header4 | split: '<' | first | strip %}
                {% capture h %}{% if header2 != null %} \2192\2002 {{ header2 }}{% endif %} \2192\2002 {{ header3 }} \2192\2002 {{ header4 }}{% endcapture %}
                {% assign headercrumbs = headercrumbs | append: h | append: '|||' %}
                {% assign  h = null %} {% assign insideh = null %} {% assign hh = null %}
            {% endif %}
        {% endfor %}


        {% if c3 contains '<h3 id=' %}
            {% assign insideh = c3 | split: '<h3 id=' | first %}
            {% assign hh = c3 | remove: insideh %}
            {% assign insideh = hh | split: '>' | first %}
            {% assign header3 = hh | remove: insideh | remove: '>' %}
            {% assign header3 = header3 | split: '<' | first | strip %}
            {% capture h %}{% if header2 != null %} \2192\2002 {{ header2 }}{% endif %} \2192\2002 {{ header3 }}{% endcapture %}
            {% assign headercrumbs = headercrumbs | append: h | append: '|||' %}
            {% assign  h = null %} {% assign insideh = null %} {% assign hh = null %}
        {% endif %}
    {% endfor %}

    {% if c2 contains '<h2 id=' %}
        {% assign insideh = c2 | split: '<h2 id=' | first %}
        {% assign hh = c2 | remove: insideh %}
        {% assign insideh = hh | split: '>' | first %}
        {% assign header2 = hh | remove: insideh | remove: '>' %}
        {% assign header2 = header2 | split: '<' | first | strip %}
        {% capture h %} \2192\2002 {{ header2 }}{% endcapture %}
        {% assign headercrumbs = headercrumbs | append: h | append: '|||' %}
        {% assign  h = null %} {% assign insideh = null %} {% assign hh = null %}
    {% endif %}
{% endfor %}

{% assign header2 = null %} {% assign header3 = null %} {% assign header4 = null %} {% assign header5 = null %} {% assign header6 = null %}

{% assign ch2 = null %} {% assign ch3 = null %} {% assign ch4 = null %} {% assign ch5 = null %} {% assign ch6 = null %}

{% assign headercrumbs = headercrumbs | split: '|||' %}
